# Gradle
app/build
app/release
.gradle

# IDEA
.idea/assetWizardSettings.xml
.idea/caches
.idea/deploymentTargetSelector.xml
.idea/libraries
.idea/modules.xml
.idea/misc.xml
.idea/navEditor.xml
.idea/shelf
.idea/workspace.xml

# Local Configuration
local.properties

# macOS
.DS_Store

# Other
captures
.cxx
.externalNativeBuild
*.iml
