# Gradle
.gradle
**/build
**/release

# IDEA
.idea/assetWizardSettings.xml
.idea/caches
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/libraries
.idea/modules.xml
.idea/misc.xml
.idea/navEditor.xml
.idea/shelf
.idea/workspace.xml

# Local
local.properties

# Other
.cxx
.DS_Store
.externalNativeBuild
.kotlin
*.iml
captures