name: Build

on:
  workflow_call:
    inputs:
      sign:
        required: true
        type: boolean
        default: false
    secrets:
      KEYSTORE:
        required: true
      KEYSTORE_PASS:
        required: true

  workflow_dispatch:
    inputs:
      sign:
        required: true
        type: boolean
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: 21
    - name: Build APK
      run: |
        chmod +x ./gradlew
        ./gradlew clean assembleRelease
    - name: Upload Unsigned APK
      uses: actions/upload-artifact@v5
      with:
        name: app-release-unsigned.apk
        path: app/build/outputs/apk/release/app-release-unsigned.apk

  sign:
    if: ${{ inputs.sign }}
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Download unsigned APK
      uses: actions/download-artifact@v6
      with:
        name: app-release-unsigned.apk
    - name: Sign APK
      env:
        KEYSTORE: ${{ secrets.KEYSTORE }}
        KEYSTORE_PASS: ${{ secrets.KEYSTORE_PASS }}
      run: |
        sudo apt install apksigner
        echo $KEYSTORE | base64 --decode > release.keystore
        apksigner sign --ks release.keystore --ks-pass env:KEYSTORE_PASS --in app-release-unsigned.apk --out app-release.apk
        rm release.keystore
        apksigner verify --print-certs app-release.apk
    - name: Upload Signed APK
      uses: actions/upload-artifact@v5
      with:
        name: app-release.apk
        path: app-release.apk
