name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit
    with:
      sign: true

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
          fetch-depth: 0
    - name: Generate Changelog
      uses: orhun/git-cliff-action@v4
      with:
        args: -vv --latest --strip all
    - name: Download APK
      uses: actions/download-artifact@v6
      with:
        name: app-release.apk
    - name: Upload Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: app-release.apk
        bodyFile: git-cliff/CHANGELOG.md
